
@import url('https://fonts.googleapis.com/css?family=Acme|Bree+Serif&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: 'Acme', sans-serif;
}

/* Nav Bar  */
.navbar{
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}
.navbar-nav{
  transition: ease-out;
  transition-duration: 3s;
}
#logo{
  height:100%;
  width: 150px;
  float: left;
}
.nav-item{
  list-style-type: none;
  display: block;
}
.nav-item>a{
  font-size:large;
  white-space: nowrap;
  color: rgb(134, 54, 8) !important;
}
.nav-item i{
  margin-right: 5px;
}
.nav-item:hover{
  background-color: rgb(226, 223, 223);
}
.nav-item:visited{
  background-color: rgb(226, 223, 223);
}
.dropdownMenu>li>a{
  text-decoration: none;
  color: rgb(53, 50, 50);  
}

.navbar-toggle{
  border: none;
  background-color: white;
  height: 50px;
  width: 50px;
}
.navbar-toggle span{
  color: black !important;
  font-weight: bold;
  font-size: 1.5rem;
}
.dropdownMenu{
  position: absolute;
  width:100%;
  background-color: rgba(226, 223, 223,0.7);
  display: none;
  z-index: 1;
}
.ddbm-menu{
  position: absolute;
  width: 100%;
  left: 100%;
  top: 0%;
  display: none;
}
/* @media only screen and (min-width:991px) {
  
  .dropdownMenu > li:hover,.ddbm-menu{
    background-color: rgb(169, 169, 169,0.7);
  }
  
  .ddbm-menu li:hover{
    background-color: rgb(226, 223, 223,0.7);
  }
} */

@media only screen and (max-width:990px) {
  #logo{
      width: 150px;
  }
  .nav-item>a{
      font-size: large !important;
  }
  .dropdownMenu{
    position: relative;
    display: none;
  }
  .ddbm-menu{
    position: relative;
    width: 100%;
    left: 0%;
    top: 0%;
    display: none;
  }
}
/* Modal Styles */

.myForm input{
  margin-bottom: 10px;
  height: 50px;
}
.myForm input:hover{
  box-shadow: 3px 3px 20px grey;
}
.myForm .btn{
  font-size: 20px;
}
.btn {
  white-space: nowrap;
  float: none;
  display: inline-block;
}