@import url("https://fonts.googleapis.com/css?family=Acme|Bree+Serif&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  overflow-x: hidden;
}
body {
  scroll-behavior: smooth;
  overflow-x: hidden !important;
  font-family: "Acme", sans-serif;
  margin: 0;
  padding: 0;
}
/* seminar banner starts */
.banner-container{
  background: url("../images/Seminars/banner.jpg");
  background-size: cover;
  background-position: center;
  height: 350px;
  border-radius: 10px;
  box-shadow: 5px 5px 20px grey;
  background-color: rgba(0,0,0,0.5);
}
.banner-content{
  text-align: center;
  align-items: center;
  height: max-content;
  color: rgb(19, 56, 4) !important;
  line-height: 5;
  padding-top: 100px;
  text-shadow:
  -1px -1px 0 white,
  1px -1px 0 white,
  -1px 1px 0 white,
  1px 1px 0 white;
}
.course-topics{
  height: 250px;
  margin-top: 20px;
}
.course-items{
  background-color: cornflowerblue;
  height: 250px;
}
.course-items h4{
  text-align: center;
  align-items: center;
  vertical-align: middle;
  padding: 50px 10px 50px 10px;
}

/* seminar banner Ends */
