@import url("https://fonts.googleapis.com/css?family=Acme|Bree+Serif&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  overflow-x: hidden;
}
body {
  scroll-behavior: smooth;
  overflow-x: hidden !important;
  font-family: "Acme", sans-serif;
  margin: 0;
  padding: 0;
}
