@import url('https://fonts.googleapis.com/css?family=Acme|Lobster&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  overflow-x: hidden;
}
body {
  scroll-behavior: smooth;
  overflow-x: hidden !important;
  font-family: "Acme", sans-serif;
  margin: 0;
  padding: 0;
}

.changes h1{
  font-size: 7rem;
  text-align: center;
  align-items: center;
  margin-top: 30vh;
  z-index: 1;
}
/* seminar banner starts */
.banner-container{
  background: url("../images/Seminars/banner.jpg");
  background-size: cover;
  background-position: center;
  height: 350px;
  border-radius: 10px;
  box-shadow: 5px 5px 20px grey;
  background-color: rgba(0,0,0,0.5);
  margin-bottom: 40px;
}
.banner-content{
  text-align: center;
  align-items: center;
  vertical-align: middle;
  padding: 30px 10px 30px 10px;
}
.banner-content .title{
  animation: zoominout 3s ease-in-out infinite;
}
@keyframes zoominout{
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.05);
  }
  100%{
    transform: scale(1);
  }
}
.banner-content h1{
  font-size: 62px;
  background: -webkit-linear-gradient(red, yellow);
  font-weight: bold;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 20px;
  white-space: nowrap;
}
.banner-content h1:hover{
  font-size: 62px;
  background: -webkit-linear-gradient(yellow, green);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.banner-content h2{
  font-size: 32px;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 5px red;
}
.cards-container{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  flex-wrap: wrap;
}
.card-head{
  width: 10rem;
  height: 100px;
  text-align: center;
  align-items: center;
  margin-top: 10px;
}
.card-body{
  text-align: center;
  align-items: center;
}

.venue-container{
background-color: khaki;
margin-top: 100px;
padding: 20px 10px 20px 10px;
}
.venue-container h2{
  text-align: center;
  align-items: center;
  color: brown;
  font-size: 1.5rem;
  font-weight: 500;
}
.introduction{
  margin-top: 20px;  
}
.introduction p{
  text-align: justify;  
  font-size: medium;
}
.session-container{
  margin-top: 20px;
  height: 400px;
  border: thin solid grey;
}
.session-image img{
  width: 400px;
  height: 300px;
  margin: 20px;
  box-shadow: 3px 3px 10px grey;
  border-radius: 5px;
}
.session-content{
  padding: 20px 10px 20px 10px;
}
.session-content ul{
  margin-left: 40px;
}
.details-container{
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  align-items: center;
  color: brown;
  background-color: rgb(104, 197, 182);
  padding: 20px 10px 20px 10px;
}
.details-container h5{
  font-weight: 500;
}