
/* Products Cards Styles */
.products{
  display: flex;
  justify-content: space-between;
  padding:10px;
  margin-bottom: 20px;
  overflow: hidden;
}
.products-card{
  overflow: hidden;
  border-radius: 10px;
  content: "";
  display: table;
  clear: both;
}
.products-card img{
  box-shadow: 3px 3px 5px gray;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 40vh;
}
.products-heading{
  width: 100%;
  align-items: center;
  text-align: center;
  padding: 10px;
}
.products-content{
  width: 100%;
  text-align: center;
  align-items: center;
  padding: 10px;
  height: 40vh;
  font-size: large;
}

.products-content p{
  text-align: justify;
  padding: 1% 1%;
}
/* consultancy styles starts */
.consultancy-container{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 2%;
  margin-left: 2%;
}
.consultancy-main{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.consultancy-items{
  padding: 10px 10px 10px 10px;
}
.consultancy-img{
  width: 100%;
}
@media only screen and(min-width:758px) {
  .products-card:hover img{
    transform: scale(1.5);
    transition-duration: 0.5s;
  }
  .products-content:hover.products-content{
    font-weight: bold;
    transition-duration: .4s;
    transform: scale(1.1);
    font-size: larger;
  }
  .products-card:hover img{
    transition-duration: 0.5s;
  }
}
@media only screen and(max-width:758px) {
  .consultancy-img{
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}