body{
    margin: 0;
    padding: 0;
    background: url(https://img.freepik.com/free-photo/dark-blue-glow-dust-particle-abstract-background_35672-1414.jpg?size=626&ext=jpg) no-repeat center fixed;
    background-size: cover;
    font-family: sans-serif;
}
.loginBox{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width:21.87rem ;
    height: 26.25rem;
    padding: 70px 40px;
    box-sizing: border-box;
    border-radius: 10px;
    background: rgba(0,0,0,0.5);

}
.userimg{
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: calc(-100px/2);
    left: calc(50% - 50px);
}
h2{
    margin: 0;
    padding: 0 0 26px;
    color: rgb(59, 140, 206);
    text-align: center;
}
.loginBox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: whitesmoke;

}
.loginBox input{
    width: 100%;
    margin-bottom: 20px;
}
.loginBox input[type="email"],
.loginBox input[type="password"]{
    border: none;
    border-bottom: 1px solid whitesmoke;
    background: transparent;
    outline: none;
    height: 40px;
    color: whitesmoke;
    font-size: 1rem;
}
::placeholder{
    color: rgba(255,255,255,0.5);
}
.loginBox input[type="submit"]{
    outline: none;
    border: thin solid rgb(59, 140, 206);
    height:45px ;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    background-color:rgb(59, 140, 206) ;
    cursor: pointer;
    border-radius: 20px;
    margin: 12px 0 18px;
}
.loginBox input[type="submit"]:hover{
    background-color: rgba(9,34,53,0.7);
    color:white;
    font-size: 1rem;
    font-weight: bold;
}
.loginBox a{
    color: whitesmoke;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;

}
.loginBox a:hover{
    color:rgb(59, 140, 206) ;
}
